<div class="bg-neutral-light min-h-screen p-8">
    <header class="flex justify-between items-center mb-10">
      <h1 class="text-3xl font-bold text-primary-purple">GrowGlow</h1>
    </header>
  
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="space-y-8">

        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">¿Sabías que...?</h3>
          <p class="text-gray-600 italic mt-2">{{ datoCurioso }}</p>
        </div>

        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">Características</h3>
          <ul class="mt-3 list-disc pl-5 text-gray-600 space-y-1">
            <li><strong>Riego:</strong> Regular, evita el exceso de agua</li>
            <li><strong>Exposición:</strong> Pleno sol o sombra parcial</li>
            <li><strong>Fertilización:</strong> Mensual</li>
          </ul>
        </div>
        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">Familia</h3>
          <p class="mt-2 text-gray-600">Orchidaceae</p>
        </div>
      </div>

      <div class="flex justify-center items-center bg-gray-100 p-6 rounded-xl shadow-lg hover:shadow-2xlease-in-out">
        <img src="assets/moth.png" alt="Orquídea Phalaenopsis" class="w-72 h-72 object-cover rounded-xl">
      </div>

      <div class="space-y-8">
        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">Nombre científico</h3>
          <p class="mt-2 text-gray-600">Phalaenopsis spp</p>
        </div>
  
        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">Reino</h3>
          <p class="mt-2 text-gray-600">Plantae</p>
        </div>
        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">Clase</h3>
          <p class="mt-2 text-gray-600">Liliopsida</p>
        </div>
  
        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
          <h3 class="font-semibold text-gray-800 text-lg">Diversidad</h3>
          <p class="mt-2 text-gray-600">Magnoliophyta</p>
        </div>
      </div>
    </div>

    <div class="bg-white p-6 rounded-xl shadow-lg mt-10 hover:shadow-2xl transform hover:scale-105 transition-all duration-300 ease-in-out">
      <h3 class="font-semibold text-gray-800 text-lg mb-3">Instrucciones de Cuidado</h3>
      <p class="text-gray-600">Para mantener tu planta saludable, asegúrate de regarla cada 2-3 días durante los meses de verano y menos en invierno.</p>
    </div>
  </div>
  